# dependencies
/node_modules

# build
/dist
/build

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# test coverage
/coverage

# misc
*.tsbuildinfo
